.InaccessiblePage {
  width: 100%;
  .head {
    width: 100%;
    p {
      font-size: 30px;
      text-align: center;
      font-weight: 600;
    }
    .menu-bar {
      width: 100%;
      display: flex;
      background-color: red;
      .menu-button-holder {
        padding: 10px 15px;
        width: 20%;
        max-width: calc(33% - 10px);
        margin-right: 5px;
        border-right: 1px solid #000000;
        a {
          padding: 5px;
        }
      }
    }
  }
  .pages {
    margin-bottom: 3em;
    width: 100%;
    .page {
      width: calc(100% - 2em);
      padding: 1em;
      .ContactPage {
        width: 100%;
        p {
          font-size: 36px;
          font-weight: 600;
          text-align: center;
        }
        form {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 400;
          width: 50%;
          margin: 0 auto;
          input {

          }
          .submit {
            background: red;
            padding: 2px;
            text-align: center;
            font-weight: 600;
            width: max-content;
            margin: 5px auto;
            cursor: pointer;
          }
        }
      }
      .HomePage {
        img {
          width: 80%;
          margin: 0 auto;
        }
        .accessibleBtn {
          padding: 6px 12px;
          background-color: #FFFFFF;
          font-size: 18px;
          border-radius: 3px;
        }
        // .accessibleInput {
        //   padding: 5px;
        //   width: 18px;
        //   height: 18px;
        // }
        // input[type="checkbox" i] {
        //   background-color: #ffffff;
        // }

        span.accessibleInput {
          height: 25px;
          width: 25px;
          background-color: #ccc;
          border: 1px solid #000;
          &:after {
            content: "";
            position: absolute;
            display: block;
          }
        }



      }
      .AboutPage {
        img {
          width: 200px;
          margin: 0 auto;
        }
      }
      .ColoursPage {
        .colours {
          a {
            text-decoration: none;
            cursor: default;
            // &:hover, &:active, &:visited {
            //   color: inherit;
            // }
          }
          .red {
            color: red;
          }
          .brown {
            color: #362C08;
          }
          .black {
            color: #000000;
          }
          .turq {
            color: #1797C4;
          }
          .blue {
            color: #1797C4;
          }
          .lightblue {
            color: #4E86F5;
          }
        }
        .fonts {
          // font-family: monospace;
          // font-weight: bold;
          // letter-spacing: 2px;
        }
      }
    }
  }
}
.footer.inaccessible {
  position: fixed;
  bottom: 0;
  width: calc(100% - 2em);
  text-align: center;
  padding: 1em;
  background-color: red;
}

.AccessiblePage {
  width: 100%;
  font-size: 18px;
  font-family: Arial;
  line-height: 30px;
  letter-spacing: 1px;
  height: 100%;
  .screenreaderOnly {
    opacity: 0;
    height: 0;
    width: 0;
  }
  .header {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    h1 {
      text-align: center;
    }
  }
  nav.menu-bar {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    ul.nav-links {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      box-shadow: 0px 7px 5px rgba(152, 152, 152, 0.2);
      li.menu-button-holder {
        margin-right: 15px;
        padding: 1% 2%;
        &:nth-of-type(1){
          margin-left: 15px;
        }
        a {
          font-size: 18px;
          padding: 5px;
          border-radius: 3px;
          color: #000000;
          text-decoration: none;
          transition: background 1s ease-in-out;
          &:hover {
            color: #000000;
            background-color: rgba(181, 180, 180, 0.3);
            transition: background 0.5s ease-in-out;
            border-color: rgb(253, 134, 7);
          }
          &:visited {
            color: #000000;
          }
          &:active {
            color: #000000;
          }
          &:focus {
            color: #000000;
            background-color: rgba(181, 180, 180, 0.3);
            transition: background 0.5s ease-in-out;
            border-color: rgb(253, 134, 7);
          }
        }
      }
      // flex-direction: row;

    }
  }
  .main {
    padding: 1em;
    margin-bottom: 3em;
    width: calc(100% - 2em);
    display: -webkit-flex;
    display: flex;
    position: absolute;
    z-index: 0;
    margin-top: 6em;
    @media (min-width: 700px){
      margin-top: 7em;
    }
    .page {
      display: flex;
      width: 100%;
      flex-direction: column;
      .ContactPage {
        width: 100%;
        display: flex;
        flex-direction: column;
        section {
          margin: 10px auto;
          // width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #f1f1f1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          box-shadow: 1px 1px 6px 1px rgba(177, 176, 176, 0.5);
          padding: 10px;
          width: calc(100% - 20px);
          position: relative;
          @media (min-width: 600px) {
            flex: 4 1;
            width: calc(90% - 20px);
          }
          h2 {
            text-align: center;
            margin-bottom: 5px;
          }
          p {
            text-align: center;
            margin-top: 5px;
          }
          .section-content {
            p {
              text-align: center;
            }
            form#contactForm {
              display: flex;
              flex-direction: column;
              width: 100%;
              @media (min-width:700px){
                max-width: 50vw;
                width: 60%;
              }
              margin: 0 auto;
              text-align: center;
              table {
                width: calc(100% - 30px);
                border-spacing: 0 15px;
                margin: 0 auto;
                tr {
                  width: calc(100% - 30px);
                  td {
                    text-align: center;
                    width: 100%;
                    &.stretch {
                      text-align: center;
                      display: flex;
                      justify-content: center;
                    }
                    label {
                      width: 100%;
                      // margin: 15px 0;
                      text-align: center;
                    }
                    input, textarea, select {
                      width: 80%;
                      margin: 0 auto;
                      padding: 10px 15px;
                      border-radius: 4px;
                      border-width: 2px;
                      border-style: inset;
                      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
                      &:focus {
                        outline: rgb(103, 253, 7);
                        border-color: rgb(253, 134, 7);
                      }
                    }
                    input[type="checkbox"] {
                      width: 24px;
                      height: 24px;
                      border-radius: 4px;
                      border-width: 2px;
                      border-style: inset;
                      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
                      &:focus {
                        outline: rgb(103, 253, 7);
                        border-color: rgb(253, 134, 7);
                      }
                    }
                    input.button {
                      padding: 7px 12px;
                      width: auto;
                      margin: auto 0;
                      border-radius: 4px;
                      font-size: 18px;
                      background-color: #FFFFFF;
                      transition: background 1s ease-in-out;
                      box-shadow: 3px 3px 5px rgba(199, 199, 199, 0.3);
                      margin-right: 15px;
                      &:hover {
                        color: #000000;
                        background-color: rgba(181, 180, 180, 0.3);
                        // transition: background 0.5s ease-in-out;
                        transform: translateY(4px);
                      }
                      &:focus {
                        outline: rgb(103, 253, 7);
                        border-color: rgb(253, 134, 7);
                      }

                    }

                  }
                }
              }
            }
          }

        }
      }
      .HomePage {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        flex-direction: column;
        @media (min-width: 600px){
          -webkit-flex-direction: row;
          flex-direction: row;
        }
        // flex-wrap: wrap;
        h1, h2, h3, h4, h5, h6 {
          text-align: center;
        }
        aside {
          width: calc(100% - 40px);
          @media (min-width: 600px){
            width: calc(10% - 40px);
          }
          border: 2px solid #000000;
          flex: 1 1;
          margin: 10px;
          padding: 10px;
          ul.article-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li.article-link {
              padding: 7px 12px;
              a {
                text-decoration: none;
                padding: 5px;
              }
            }
          }
        }
        section {
          margin: 10px auto;
          width: 100%;
          // padding: 10px;
          display: flex;
          flex-direction: column;
          @media (min-width: 600px) {
            flex: 4 1;
            width: calc(90% - 20px);
            // -webkit-flex-direction: column;
            // flex-direction: column;
          }
          article {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            background-color: #f1f1f1;
            padding: 10px;
            margin: 10px;
            width: calc(100% - 20px);
            position: relative;
            box-shadow: 1px 1px 6px 1px rgba(177, 176, 176, 0.5);
            .pub-date {
              font-size: 14px;
              font-weight: 600;
              position: relative;
              // top: -5px;
              right: 10px;
              text-align: right;
              @media (min-width: 600px){
                top: 0px;
              }
            }
            .article-hero {
              // margin: auto 10px;
              padding: 10px;
              // max-width: 500px;
              width: calc(100% - 20px);
              @media (min-width: 600px){
                width: calc(40% - 40px);
                float: left;
                // max-height: 350px;
              }
              position: relative;
              // float: left;
            }
            p.article-content {
              margin: 10px;
              width: 100%;
              @media (min-width: 600px){
                float: left;
                width: calc(60% - 20px);
              }
            }
            a.read-more-link {
              padding: 7px 12px;
              position: relative;
              float: right;
              @media (min-width: 600px){
                position: absolute;
                bottom: 10px;
                right: 10px;
              }
              &:link {
                color: #000000;
              }
              &:hover, &:active, &:visited {
                color: -webkit-link;
              }
              &:before {
                content: '...';
                display: inline-block;
              }
            }
          }
        }
      }
      .AboutPage {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        flex-direction: column;
        h2 {
          text-align: center;
        }
        section {
          article {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            background-color: #f1f1f1;
            padding: 10px;
            margin: 10px;
            width: calc(100% - 40px);
            position: relative;
            box-shadow: 1px 1px 6px 1px rgba(177, 176, 176, 0.5);
            .article-title {
              h3 {
                border-bottom: 1px solid #000000;
                width: max-content;
              }
            }
            .article-main {
              display: flex;
              flex-direction: row;
              figure {
                width: 100%;
                margin: 10px 20px;
                img {
                  width: 100%;
                }

              }
            }
          }
        }
        // @media (min-width: 600px){
        //   -webkit-flex-direction: row;
        //   flex-direction: row;
        // }
      }
    }
  }
}
.footer.accessible {
  position: fixed;
  bottom: 0;
  width: calc(100% - 2em);
  text-align: center;
  padding: 1em;
  background-color: #FFFFFF;
  color: #000000;
  border-top: 2px solid #000000;
  box-shadow: 0px -3px 6px 1px rgba(177, 176, 176, 0.5);
  display: flex;
  justify-content: center;
  button {
    padding: 7px 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-size: 18px;
    transition: background 1s ease-in-out;
    box-shadow: 3px 3px 5px rgba(199, 199, 199, 0.3);
    margin: 0 10px;
    &:hover {
      background-color: rgba(181, 180, 180, 0.3);
      transform: translateY(4px);
    }
  }
}
